@charset "UTF-8";
/* body */
body {
    width: 1300px;
    height: 900px;
}
body a{
    color: grey;
    text-decoration: none;
}
body input {
    margin-bottom: 5px;
}
/* header.jsp*/
#header {
    background: lightgreen;
    width: 1300px;
    height: 100px;
}

#header input { 
    float: right;
    }
    
#header span {
    float: right; 
    }
#headmenu li { 
    float: left; 
    display: inline-block;
    }


/* aside.jsp*/
#aside {
    clear: both;
    float: left;
    width: 200px;
    height: 700px;
    background: #1a589d;
    }

.asidebar {
    list-style: none;
    padding: 0px;
}

.asidebar li {
    width: 200px;
    height: 30px;
    background: #5096e2;
    padding: 0px;
}

/*container*/
#maincontainer {
    float: left;
    width: 1300px;
    height: 700px;
    }
#container {
    float: left;
    width: 1100px;
    height: auto;
    }
#container li { float: left; display: inline-block;}

/* footer.jsp*/
#footer {
    clear: both;
    background: lightgreen;
    width: 1300px;
    height: 100px;
    }
#footer li { display: inline-block;}

/* header */

#mainaside {
    float: left;
    width: 250px;
    height: 700px;
    border-right: 1px solid black;
}

#renttableS {
    width: 245px;
}

/* body */
#mainbody {
    float: left;
    width: 845px;
    height: 700px;
}


#renttableS td {
    border: 1px solid grey;
}

.label {
    width: 80px;
    height: auto;
    margin: 1px;
}
/*         label>input { float: left; margin: 5px;} */
#bpgtool {
    clear: both;
    margin: 10px;
}

/* bookpage */
#mainbody>div>label {
    display: block;
    margin: 10px;
}


.maintabpage {
    background-color: skyblue;
    height: 700px;
}

.tables {
    width: 790px;
    height: 300px;
    overflow: auto;
}
.maintable {
    width: 790px;
}

.maintable, .maintable td {
    border: 1px solid black;
}


.tablehover {
    background-color: lightgreen;
}